:root {
    --work-font-color: #7b9393;
}

.work-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border-top: 1px solid #015256;
    border-bottom: 1px solid #015256;
    color: var(--work-font-color);
}