<!----------   START header menu   -------------->
<div id="aspect-ratio">Aspect Ratio:</div>
<div id="mouse"></div>
<header id="nav"></header>
<!----------   END header menu   -------------->
<!----------   start home section   -------------->
<!-- <div class="logoLayout"><img src="../../public/graphics/logoMono.png" /></div> -->
<section class="content-section" id="home"></section>
<!----------   end home section   -------------->
<div class="section-space-top">
  <div class="section-space-button">
    Home section <i class="fa-solid fa-angle-up"></i>
  </div>
  <div class="section-space-button">
    Work section <i class="fa-solid fa-angle-down"></i>
  </div>
</div>
<div class="logo-sticky">
  <img
    src="https://jittakan-dev.github.io/studioAech/public/graphics/logoASmall.png"
    alt="logoASmall"
  />
</div>
<!----------   start work section   -------------->
<section class="content-section" id="work"></section>
<!-- <section class="work-display" id="work-display">e</section> -->
<!----------   end work section   -------------->
<div class="logo-sticky">
  <img src="/graphics/logoASmall.png" alt="logoASmall" />
</div>
<div class="section-space-bottom">
  <div class="section-space-button">
    Work section <i class="fa-solid fa-angle-up"></i>
  </div>
  <div class="section-space-button">
    About us section <i class="fa-solid fa-angle-down"></i>
  </div>
</div>
<!----------   start about section   -------------->
<section class="content-section" id="about"></section>
<!----------   end about section   -------------->
