.homeLoader {
    position: absolute;
    bottom: 4.5rem;
    left: -6%;
    width: 112%;
    height: calc(100% - 4.5rem);
    color: #67acb0;
    z-index: 10;
    background-color: #012325;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s linear;
}

.home-container {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    /* display: none; */
}

.home-bar-container {
    position: absolute;
    bottom: 0;
    left: -10%;
    height: 4.5rem;
    width: 100%;
    z-index: 11;
    padding: 0 10% 0 10%;
    background-color: #001719;
    display: flex;
    color: var(--base-font-color);
    border-top: 0.15rem solid #000c0c;
}

.home-bar-logo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 28%;
    height: 90%;
}

.home-logo-img {
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 27.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.home-logo-img img {
    width: 100%;
    height: auto;
    position: relative;
}

.home-logo-text {
    position: relative;
    margin-left: 2%;
    padding: 2% 0 2% 2%;
    width: 67.5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.home-logo-title-1 {
    font-family: "Sofia Sans";
    text-align: left;
    font-size: var(--std-075rem-font-size);
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.07rem;
}

.home-logo-title-2 {
    font-family: "Megrim";
    text-align: left;
    font-size: var(--std-160rem-font-size);
    line-height: 100%;
    font-weight: bold;
    letter-spacing: normal;
    color: #4E9EA3;
}

.home-logo-slogan {
    font-size: var(--std-057rem-font-size);
    ;
}

.home-bar-content-container {
    position: relative;
    width: 72%;
    color: var(--base-font-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-bar-content-slide,
.home-bar-content-quote {
    position: relative;
    width: 60%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 0.05rem solid #014c50;
    font-size: var(--std-057rem-font-size);
    line-height: 130%;
    overflow: hidden;
}

.home-bar-content-slide {
    font-size: var(--std-057rem-font-size);
    padding: 0 4% 0 4%;
    line-height: 130%;
    color: var(--base-font-color);
}

.home-bar-content-quote {
    font-size: var(--std-057rem-font-size);
    width: 92%;
    padding: 0 4% 0 4%;
    line-height: 130%;
    color: var(--base-font-color);
    display: none;
}

.highlight-text {
    color: #4E9EA3;
}

.home-bar-quote {
    top: 0;
    left: 0;
    position: absolute;
    padding: 0.57rem;
    padding-top: 0.7rem;
}

.home-bar-we-do {
    top: 0;
    left: 0;
    position: absolute;
    padding: 0.7rem;
    transition: all 0.5s ease-in-out;
}

.home-bar-we-are {
    top: 100%;
    left: 0;
    position: absolute;
    padding: 0.7rem;
    transition: all 0.5s ease-in-out;
}

.home-bar-we-guide {
    top: 200%;
    left: 0;
    position: absolute;
    padding: 0.7rem;
    transition: all 0.5s ease-in-out;
}

.home-bar-content-link {
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 90%;
    padding: 0;
}

.home-flip-box {
    background-color: transparent;
    width: 90%;
    height: 75%;
    font-size: var(--std-060rem-font-size);
    padding: 0 4% 0 4%;
    border-right: 0.05rem solid #014c50;
    perspective: 1000px;
    cursor: pointer;
    overflow: hidden;
}

.home-flip-box-button {
    width: auto;
    height: auto;
    padding: 12%;
    border: 2px solid #014c50;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #001719;
}

.home-flip-box:first-child {
    border-left: 0.05rem solid #014c50;
}

.home-flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.home-flip-box:hover .home-flip-box-inner {
    transform: rotateX(180deg) translate(0, -10%);
}

.home-flip-box-front,
.home-flip-box-back,
.home-flip-box-mid {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 90%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    color: var(--base-font-color);
    overflow: hidden;

}

.home-flip-box-front {
    background-color: #001719;
    transform: rotateX(0deg);
}

.home-flip-box-mid {
    top: 7%;
    font-size: var(--std-100rem-font-size);
    transform: rotateX(180deg) translate(0, -25%);
}

.home-flip-box-mid i {
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 0.4;
    }

    25%,
    75% {
        opacity: 1;
    }
}

.home-flip-box-back {
    position: absolute;
    top: 2%;
    transform: rotateX(260deg) translate(0, 0);
    -webkit-transform: rotateX(260deg) translate(0, 0);
    -ms-transform: rotateX(260deg) translate(0, 0);
    opacity: 0.7;
    background-color: #001719;
}

.home-flip-box-back-c {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(84%);
    background-color: #001719;
}

.home-flip-box-back-s {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 32%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(85%);
    background-color: #001719;
}

.home-flip-box-back-d {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 32%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(80%);
    background-color: #001719;
}

.flip-a-0 {
    width: 30%;
    height: 30%;
    background-color: #012f31;
    z-index: 5;
}

.flip-a-1 {
    width: 60%;
    height: 60%;
    background-color: #01464a;
    z-index: 4;
}

.flip-a-2 {
    width: 80%;
    height: 80%;
    background-color: #025e62;
    z-index: 3;
}

.flip-a-3 {
    width: 100%;
    height: 100%;
    background-color: var(--base-font-color);
    z-index: 2;
}

.home-rocket-container {
    position: absolute;
    left: 50%;
    width: 110%;
    height: 60%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    z-index: 6;
    opacity: 0.1;
}

.home-rocket-a {
    top: 45%;
}

.home-rocket-b {
    top: 50%;
}

.home-rocket-c {
    top: 55%;
}

.home-rocket {
    width: 100%;
    height: 0.8%;
    top: 30.5%;
    right: 0;
    position: relative;
    transform-origin: right center;
    z-index: 8;
    display: flex;
    align-items: center;
}

.rocket-a {
    animation: moveRocket 4s infinite ease-in-out;
}

.rocket-b {
    animation: moveRocket 3.5s infinite ease-in-out;
}

.rocket-c {
    animation: moveRocket 4.5s infinite ease-in-out;
}

.home-rocket img {
    width: 2%;
    height: auto;
    margin: 0;
    padding: 0;
}

@keyframes moveRocket {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(calc(160% + 2.5%));
    }
}

.home-rocket-tail-2 {
    width: 0%;
    height: 0.5%;
    top: 30.75%;
    left: 0;
    position: absolute;
    transform-origin: right center;
    z-index: 7;
    opacity: 0.5;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), rgb(204, 227, 229, 0.8));
}

.rocket-tail-a-2 {
    animation: moveRocketTail 4s infinite ease-in-out;
}

.rocket-tail-b-2 {
    animation: moveRocketTail 3.5s infinite ease-in-out;
}

.rocket-tail-c-2 {
    animation: moveRocketTail 4.5s infinite ease-in-out;
}

.home-rocket-tail-1 {
    width: 0%;
    height: 0.5%;
    top: 30.75%;
    left: 0;
    position: absolute;
    transform-origin: right center;
    z-index: 6;
    background: linear-gradient(45deg, transparent, rgba(2, 117, 123, 0.5), rgba(0, 143, 153, 0.4), rgba(23, 117, 131, 1));
}

.rocket-tail-a-1 {
    animation: rocketTailAnimation 0.5s infinite ease-in-out, moveRocketTail 4s infinite ease-in-out;

}

.rocket-tail-b-1 {
    animation: rocketTailAnimation 0.5s infinite ease-in-out, moveRocketTail 3.5s infinite ease-in-out;

}

.rocket-tail-c-1 {
    animation: rocketTailAnimation 0.5s infinite ease-in-out, moveRocketTail 4.5s infinite ease-in-out;

}

@keyframes moveRocketTail {
    0% {
        width: 0%;
        transform: translateX(0%);
    }

    100% {
        width: calc(100% + 5%);
        transform: translateX(calc(100% + 2.5%));
    }

}

@keyframes rocketTailAnimation {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.home-globe-container {
    width: 160svh;
    height: 160svh;
    position: absolute;
    bottom: -85%;
    transform-origin: center;
    z-index: 8;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.6, -0.3, 0.165, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-globe-main,
.home-globe-spin,
.home-globe-balloon,
.home-globe-balloon-bg,
.home-globe-balloon-small,
.home-globe-wheel-group,
.home-globe-wheel-l,
.home-globe-wheel-r {
    position: absolute;
}

.home-globe-balloon.balloon-active {
    transition: none;
}

.home-globe-main {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
}

.home-globe-spin {
    width: 100%;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    z-index: 7;
}

.home-globe-wheel-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    width: 22%;
    height: 30%;
    top: -4.25%;
    left: 40%;
    transform-origin: center bottom;
    transition: all 0.5s ease-in-out;
    z-index: 9;
}

.home-globe-wheel-l {
    width: 10%;
    top: 89.5%;
    left: 59.75%;
    transform-origin: center bottom;
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

.home-globe-wheel-r {
    width: 10%;
    top: 89.5%;
    left: 30.5%;
    transform-origin: center bottom;
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

.home-globe-balloon,
.home-globe-balloon-bg,
.home-globe-balloon-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    width: 22%;
    top: -3.5%;
    left: 40%;
    transform-origin: center bottom;
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

.home-globe-balloon-small {
    z-index: 9;
}

.home-globe-balloon-bg {
    z-index: 8;
}

.home-balloon-title-container {
    position: absolute;
    margin: 0;
    top: 17.5%;
    left: 3%;
    padding: 2% 0 1.7% 0;
    height: 2rem;
    width: 100%;
    z-index: 7;
    /*#012f31*/
    background-color: rgba(1, 47, 49, 0.2);
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    transform-origin: center bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.home-balloon-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    padding: 2% 0;
    text-align: center;
    /*4e9ea3*/
    color: rgb(78, 158, 163, 0.7);
    font-family: 'Bebas Neue';
    font-size: 2.2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.home-speechBubble {
    position: absolute;
    top: 28%;
    left: 0%;
    transform: rotatez(-95deg);
    width: 12.5%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 12;
    cursor: pointer;
}

.home-speechBubble img {
    width: 100%;
    height: auto;
    position: relative;
}

.home-title-space {
    width: 11svw;
}


.home-globe-main img,
.home-globe-spin img,
.home-globe-balloon img,
.home-globe-balloon-bg img,
.home-globe-balloon-small img,
.home-globe-wheel-l img,
.home-globe-wheel-r img {
    width: 100%;
    height: auto;
    position: relative;
}

.home-globe-balloon-bg img,
.world-ribbon img,
.home-globe-main img,
.home-globe-spin img {
    filter: none;
}

.home-globe-balloon-small img {
    opacity: 1;
}

.home-globe-wheel-l img,
.home-globe-wheel-r img {
    width: 100%;
    height: auto;
    filter: none;
}

.home-balloon-img,
.home-balloonBg-img {
    transform-origin: center bottom;
    transition: all 0.5s ease-in-out;
    animation: swingBalloon 5s infinite;
}

.home-smallBalloon-img {
    transform-origin: center bottom;
    transition: all 0.5s ease-in-out;
    animation: floatSmallBalloon 5s infinite;
}

.home-wheelL-img {
    transform-origin: center center;
    transition: all 0.5s ease-in-out;
    animation: swingWheel 5s infinite;
}

.home-wheelR-img {
    transform-origin: center center;
    transition: all 0.5s ease-in-out;
    animation: swingWheel 5s infinite;
}

.home-worldGreen-img {
    transform-origin: center center;
    transition: all 0.05s linear;
    animation: spinWorld 100s infinite;
    opacity: 0.8;
}

@keyframes floatSmallBalloon {

    0% {
        transform: translateY(5%);
        opacity: 0;
    }

    25% {
        transform: translateY(10%);
        opacity: 1;
    }

    50% {
        transform: translateY(0%);
        opacity: 1;

    }

    100% {
        transform: translateY(-200%);
        opacity: 1;
    }

}

@keyframes swingBalloon {

    0%,
    100% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(-2%);
    }
}

@keyframes swingWheel {

    0% {
        transform: translateY(-100%) rotate(0deg);
    }

    50% {
        transform: translateY(20%) rotate(720deg);
    }

    100% {
        transform: translateY(-100%) rotate(1440deg);
    }
}

@keyframes spinWorld {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.home-globe-bear {
    position: relative;
    top: 6%;
    left: -41%;
    transform: rotatez(-95deg);
    width: 17%;
    height: 9%;
    z-index: 12;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.home-bear-item {
    width: 100%;
    height: 100%;
    filter: brightness(110%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-bear-item img {
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.home-globe-lighthouse {
    position: absolute;
    top: -23.5%;
    left: 77.5%;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.home-light-halo {
    position: absolute;
}

.home-light-halo.lh0 {
    left: -5%;
    bottom: -6%;
    width: 9%;
    height: 9%;
    background-color: rgba(186, 227, 200, 0.2);
    border-radius: 40% 60% 35% 65% / 47% 40% 60% 53%;
    transition: all 0.5s ease-in-out;
    animation: animateHalo 4s infinite linear;
    z-index: 8;
}

.home-light-halo.lh1 {
    left: -6%;
    bottom: -7%;
    width: 12%;
    height: 12%;
    background-color: rgba(185, 235, 201, 0.1);
    border-radius: 52% 48% 69% 31% / 59% 51% 49% 41%;
    animation: animateHalo 6s infinite linear;
    z-index: 8;
}

.home-light-halo.lh2 {
    left: -7%;
    bottom: -8%;
    width: 15%;
    height: 15%;
    background-color: rgba(156, 226, 180, 0.08);
    border-radius: 52% 48% 76% 24% / 44% 52% 48% 56%;
    animation: animateHalo 8s infinite linear;
    z-index: 8;
}

@keyframes animateHalo {
    0% {
        border-radius: 40% 60% 35% 65% / 47% 40% 60% 53%;
        transform: scale(0.9) rotate(0deg);
    }

    50% {
        border-radius: 60% 40% 65% 35% / 40% 47% 53% 60%;
        transform: scale(1.1) rotate(180deg);
    }

    100% {
        border-radius: 40% 60% 35% 65% / 47% 40% 60% 53%;
        transform: scale(0.9) rotate(360deg);
    }
}

.home-laser-beam {
    position: absolute;
    bottom: 0.5%;
    left: 1%;
    transform-origin: left bottom;
    width: 1svh;
    height: 0;
    border-left: 16svh solid transparent;
    border-right: 16svh solid transparent;
    border-top: 150svh solid rgba(156, 226, 180, 0.08);
    transform: rotateZ(30deg) translateX(-50%);
    overflow: hidden;
}

.home-laser-beam.lb0 {
    width: 1svh;
    animation: laser 6s infinite;
    border-top: 150svh solid rgba(156, 226, 180, 0.08);
    z-index: 7;
}

.home-laser-beam.lb1 {
    width: 0.8svh;
    animation: laser 6.5s infinite;
    border-top: 150svh solid rgba(156, 226, 180, 0.1);
    z-index: 8;
}

.home-laser-beam.lb2 {
    width: 1.2svh;
    animation: laser 7s infinite;
    border-top: 150svh solid rgba(156, 226, 180, 0.2);
    z-index: 9;
}

.home-laser-beam.lb3 {
    width: 0.7svh;
    animation: laser 7.5s infinite;
    border-top: 150svh solid rgba(156, 226, 180, 0.07);
    z-index: 10;
}

@keyframes laser {
    0% {
        transform: rotateZ(30deg) translateX(-50%);
    }

    50% {
        transform: rotateZ(55deg) translateX(-50%);
    }

    100% {
        transform: rotateZ(30deg) translateX(-50%);
    }
}

.home-ufo-group {
    position: absolute;
    bottom: 120%;
    left: 20%;
    width: 25%;
    height: 100%;
    z-index: 5;
    transition: all 1.25s cubic-bezier(0.3, -0.55, 0.256, 1.6);
}

.home-ufo {
    width: 100%;
    position: absolute;
    transform: rotate(14deg);
    bottom: 0%;
    left: 0%;
    z-index: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-ufo img {
    width: 100%;
    height: auto;
    position: relative;
}

.home-ufo-pole {
    width: 25%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    left: 57%;
    z-index: 7;
    border-left: 0.01rem solid #01464a;
    border-right: 0.01rem solid #01464a;
}

.home-arrow-sign {
    position: absolute;
    transform: rotate(-250deg);
    bottom: 20.1%;
    left: 58.5%;
    z-index: 13;
    width: 11%;
    height: auto;
    z-index: 13;
    rotate: 20deg;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.home-arrow-sign img {
    z-index: 14;
    width: 100%;
    height: 100%;
}

.home-arrow-sign img:hover {
    transition: all 0.2s ease-in-out;
}

.home-slide-text-container {
    position: absolute;
    top: 5%;
    left: 0;
    right: 5%;
    height: auto;
    width: 26svw;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    color: var(--base-font-color);
    margin: 0;
    padding: 0;
    display: none;
}

.home-slide-title {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.home-slide-title-1,
.home-slide-title-2 {
    position: relative;
    width: 96%;
    height: var(--std-130rem-font-size);
    text-align: left;
    font-size: var(--std-130rem-font-size);
    overflow: hidden;
    padding: 1%;
    margin-top: 2%;
    background-color: black;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 0.1rem solid #02696f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-slide-we-do-title {
    top: 0;
    left: 0;
    position: absolute;
    padding: 0 0.57rem;
    transition: all 0.5s ease-in-out;
}

.home-slide-we-are-title {
    top: 100%;
    left: 0;
    position: absolute;
    padding: 0 0.57rem;
    transition: all 0.5s ease-in-out;
}

.home-slide-we-guide-title {
    top: 200%;
    left: 0;
    position: absolute;
    padding: 0 0.57rem;
    transition: all 0.5s ease-in-out;
}

.home-slide-body {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 4.2rem;
    padding: 0.57rem 0.3rem 0.57rem 0.57rem;
    font-size: var(--std-057rem-font-size);
    line-height: 130%;
    overflow: hidden;
    background-color: rgba(1, 35, 37, 0.8);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 0.1rem solid #02696f;
}

.home-slide-we-do-body {
    top: 0;
    left: 0;
    position: absolute;
    padding: 0.57rem 0.3rem 0.57rem 0.57rem;
    transition: all 0.5s ease-in-out;
}

.home-slide-we-are-body {
    top: 100%;
    left: 0;
    position: absolute;
    padding: 0.57rem 0.3rem 0.57rem 0.57rem;
    transition: all 0.5s ease-in-out;
}

.home-slide-we-guide-body {
    top: 200%;
    left: 0;
    position: absolute;
    padding: 0.57rem 0.3rem 0.57rem 0.57rem;
    transition: all 0.5s ease-in-out;
}

.home-bg-circle-container {
    position: absolute;
    top: 70%;
    left: 51%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-bg-circle {
    position: absolute;
    border-radius: 50%;
}

.c0 {
    width: 300svh;
    height: 300svh;
    background-color: #014c50;
    z-index: -9;
}

.c1 {
    width: 270svh;
    height: 270svh;
    background-color: #01464a;
    z-index: -8;
}

.c2 {
    width: 240svh;
    height: 240svh;
    background-color: #014044;
    z-index: -7;
}

.c3 {
    width: 210svh;
    height: 210svh;
    background-color: #013b3e;
    z-index: -6;
}

.c4 {
    width: 180svh;
    height: 180svh;
    background-color: #013537;
    z-index: -5;
}

.c5 {
    width: 150svh;
    height: 150svh;
    background-color: #012f31;
    z-index: -4;
}

.c6 {
    width: 120svh;
    height: 120svh;
    background-color: #01292b;
    z-index: -3;
}

.c7 {
    width: 90svh;
    height: 90svh;
    background-color: #012325;
    z-index: -2;
}

.c8 {
    width: 60svh;
    height: 60svh;
    background-color: #001719;
    z-index: -1;
}

.c9 {
    width: 30svh;
    height: 30svh;
    background-color: #000c0c;
    z-index: 0;
}