<div class="home-container">
  <div class="home-bar-container">
    <div class="home-bar-logo-container">
      <div class="home-logo-img">
        <img
          src="https://jittakan-dev.github.io/studioAech/public/graphics/logoA.png"
        />
      </div>
      <div class="home-logo-text">
        <div class="home-logo-title-1">STUDIO</div>
        <div class="home-logo-title-2">Aech</div>
        <!-- Superuser NordEnd Cusniq Niq NordApp NordJay Foniq Feniq Finniq Kussan Noche Morbit Circlay sundive Luminique the pulse behind pixels, binaries dance, and algorithms sing-->
        <div class="home-logo-slogan">Foundation for startups</div>
      </div>
    </div>
    <div class="home-bar-content-container">
      <div class="home-bar-content-slide">
        <div class="home-bar-we-do">
          We create a custom, user-centric app that seamlessly blends aesthetics
          and functionality to meet your business needs. Delivering delightful
          user experiences across App, Mobile, and Analytics.
        </div>
        <div class="home-bar-we-are">
          <!-- In a bustling city, dynamic coders merged tech with art, believing in
          each brand's unique story. Through innovation, they brought these
          narratives to life, leaving a mark on the digital landscape. -->
          Studio Aech: We're the misfits of the digital realm, the avant-garde
          artist weaving codes into symphonies. Born from creative rebel minds,
          we thrive on creative art, good vibes, and the pulse of technology.
        </div>
        <div class="home-bar-we-guide">
          In a realm where technology meets creativity, Studio Aech, as agile
          developers, enhances user experiences with micro-interactions to
          seamlessly align with clients' objectives.
        </div>
      </div>
      <div class="home-bar-content-quote">
        <div class="home-bar-quote">
          <span class="highlight-text">Studio Aech </span>: We're a tiny app
          service studio specializing in crafting unique custom web and mobile
          apps, with a side of analytics. Learn more about us
        </div>
      </div>
      <div class="home-bar-content-link">
        <a class="home-flip-box" href="#work">
          <div class="home-flip-box-inner">
            <div class="home-flip-box-front">
              <div class="home-flip-box-button">
                What<br />
                we do
              </div>
            </div>
            <div class="home-flip-box-mid">
              <i class="fa-solid fa-code"></i>
            </div>
            <div class="home-flip-box-back">
              <div class="home-flip-box-back-s flip-a-0"></div>
              <div class="home-flip-box-back-s flip-a-1"></div>
              <div class="home-flip-box-back-s flip-a-2"></div>
              <div class="home-flip-box-back-s flip-a-3"></div>
              <div class="home-flip-box-back-s flip-a-4"></div>
            </div>
          </div>
        </a>
        <a class="home-flip-box" href="#about">
          <div class="home-flip-box-inner">
            <div class="home-flip-box-front">
              <div class="home-flip-box-button">
                Who<br />
                we are
              </div>
            </div>
            <div class="home-flip-box-mid">
              <i class="fa-solid fa-chess-knight"></i>
            </div>
            <div class="home-flip-box-back">
              <div class="home-flip-box-back-s flip-a-0"></div>
              <div class="home-flip-box-back-s flip-a-1"></div>
              <div class="home-flip-box-back-s flip-a-2"></div>
              <div class="home-flip-box-back-s flip-a-3"></div>
              <div class="home-flip-box-back-s flip-a-4"></div>
            </div>
          </div>
        </a>
        <a class="home-flip-box" href="#contact">
          <div class="home-flip-box-inner">
            <div class="home-flip-box-front">
              <div class="home-flip-box-button">
                Reach&nbsp;<br />
                us
              </div>
            </div>
            <div class="home-flip-box-mid">
              <i class="fa-regular fa-paper-plane"></i>
            </div>
            <div class="home-flip-box-back">
              <div class="home-flip-box-back-s flip-a-0"></div>
              <div class="home-flip-box-back-s flip-a-1"></div>
              <div class="home-flip-box-back-s flip-a-2"></div>
              <div class="home-flip-box-back-s flip-a-3"></div>
              <div class="home-flip-box-back-s flip-a-4"></div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- HTML -->
  <div class="home-rocket-container home-rocket-a">
    <div class="home-rocket rocket-a">
      <img
        src="https://jittakan-dev.github.io/studioAech/public/graphics/rocket.png"
      />
    </div>
    <div class="home-rocket-tail-1 rocket-tail-a-1"></div>
    <div class="home-rocket-tail-2 rocket-tail-a-2"></div>
  </div>
  <div class="home-rocket-container home-rocket-b">
    <div class="home-rocket rocket-b">
      <img
        src="https://jittakan-dev.github.io/studioAech/public/graphics/rocket.png"
      />
    </div>
    <div class="home-rocket-tail-1 rocket-tail-b-1"></div>
    <div class="home-rocket-tail-2 rocket-tail-b-2"></div>
  </div>
  <div class="home-rocket-container home-rocket-c">
    <div class="home-rocket rocket-c">
      <img
        src="https://jittakan-dev.github.io/studioAech/public/graphics/rocket.png"
      />
    </div>
    <div class="home-rocket-tail-1 rocket-tail-c-1"></div>
    <div class="home-rocket-tail-2 rocket-tail-c-2"></div>
  </div>

  <div class="home-globe-container">
    <div class="home-globe-bear">
      <div class="home-bear-item">
        <img
          src="https://jittakan-dev.github.io/studioAech/public/graphics/iconMobile.png"
        />
      </div>
      <div class="home-bear-item">
        <img
          src="https://jittakan-dev.github.io/studioAech/public/graphics/iconTrumpet.png"
        />
      </div>
      <div class="home-bear-item">
        <img
          src="https://jittakan-dev.github.io/studioAech/public/graphics/iconTV.png"
        />
      </div>
      <div class="home-bear-item">
        <img
          src="https://jittakan-dev.github.io/studioAech/public/graphics/iconDrum.png"
        />
      </div>
      <div class="home-bear-item home-bear-active">
        <img
          src="https://jittakan-dev.github.io/studioAech/public/graphics/iconHandPoint.png"
        />
      </div>
    </div>

    <div class="home-globe-bear-effect"></div>
    <div class="home-globe-lighthouse">
      <div class="home-laser-beam lb0"></div>
      <div class="home-laser-beam lb1"></div>
      <div class="home-laser-beam lb2"></div>
      <div class="home-laser-beam lb3"></div>
      <div class="home-light-halo lh0"></div>
      <div class="home-light-halo lh1"></div>
      <div class="home-light-halo lh2"></div>
    </div>
    <div class="detect-me home-arrow-sign">
      <img
        src="https://jittakan-dev.github.io/studioAech/public/graphics/arrow-sign.png"
      />
    </div>
    <div class="detect-me home-globe-balloon">
      <img
        class="home-balloon-img"
        src="https://jittakan-dev.github.io/studioAech/public/graphics/balloon.png"
      />
    </div>
    <div class="home-globe-balloon-bg">
      <img
        class="home-balloonBg-img"
        src="https://jittakan-dev.github.io/studioAech/public/graphics/balloonBG.png"
      />
    </div>
    <div class="home-globe-balloon-small">
      <img
        class="home-smallBalloon-img"
        src="https://jittakan-dev.github.io/studioAech/public/graphics/smallBalloon.png"
      />
    </div>
    <div class="home-globe-wheel-group">
      <div class="home-globe-wheel-l">
        <img
          class="home-wheelL-img"
          src="https://jittakan-dev.github.io/studioAech/public/graphics/wheel.png"
        />
      </div>
      <div class="home-globe-wheel-r">
        <img
          class="home-wheelR-img"
          src="https://jittakan-dev.github.io/studioAech/public/graphics/wheel.png"
        />
      </div>
    </div>
    <div class="home-globe-main">
      <img
        src="https://jittakan-dev.github.io/studioAech/public/graphics/worldCUT.png"
      />
    </div>
    <div class="home-globe-spin">
      <img
        class="home-worldGreen-img"
        src="https://jittakan-dev.github.io/studioAech/public/graphics/worldGreen.png"
      />
    </div>
    <div class="home-balloon-title-container">
      <div class="home-balloon-title">
        We do&nbsp;
        <span class="underscore">beautiful</span>
        <span class="home-title-space"></span>
        &nbsp;
        <span class="underscore">things</span>
        &nbsp;to the app.
      </div>
    </div>
    <div class="detect-me home-speechBubble">
      <img
        src="https://jittakan-dev.github.io/studioAech/public/graphics/speechBubble.png"
      />
    </div>
    <div class="home-ufo"><img src="../../public/graphics/ufo.png" /></div>
  </div>
  <div class="home-slide-text-container">
    <div class="home-slide-title">
      <div class="home-slide-title-1">
        <div class="home-slide-we-do-title">We do beautiful</div>
        <div class="home-slide-we-are-title">We are</div>
        <div class="home-slide-we-guide-title">We guide you</div>
      </div>
      <div class="home-slide-title-2">
        <div class="home-slide-we-do-title">things to the app.</div>
        <div class="home-slide-we-are-title">team Aech.</div>
        <div class="home-slide-we-guide-title">to the target.</div>
      </div>
    </div>
    <div class="home-slide-body">
      <div class="home-slide-we-do-body">
        We whip up a <span class="highlight-text">custom</span>,
        <span class="highlight-text">user-centric</span>,
        <span class="highlight-text">super-functional</span>
        <span class="highlight-text">app.</span>
        combines with aesthetic perception to fit your unique business needs
      </div>
      <div class="home-slide-we-are-body">
        We are
        <span class="highlight-text">dynamism artists</span>,
        <span class="highlight-text">appreciators of art</span>, and
        <span class="highlight-text">forward-thinkers</span>. We are unique and
        worth being friends with for your business.
      </div>
      <div class="home-slide-we-guide-body">
        We utilize an
        <span class="highlight-text">agile methodology</span> to seamlessly
        align with the objectives, incorporating
        <span class="highlight-text">micro-interactions</span>
        to enhance the user experience.
      </div>
    </div>
    <div class="home-dot-container">
      <div class="home-dot-button home-dot-active" id="wb-1">
        <i class="fa-solid fa-circle-dot"></i>
      </div>
      <div class="home-dot-button" id="wb-2">
        <i class="fa-solid fa-circle-dot"></i>
      </div>
      <div class="home-dot-button" id="wb-3">
        <i class="fa-solid fa-circle-dot"></i>
      </div>
    </div>
  </div>
  <div class="home-bg-circle-container">
    <div class="home-bg-circle c9"></div>
    <div class="home-bg-circle c8"></div>
    <div class="home-bg-circle c7"></div>
    <div class="home-bg-circle c6"></div>
    <div class="home-bg-circle c5"></div>
    <div class="home-bg-circle c4"></div>
    <div class="home-bg-circle c3"></div>
    <div class="home-bg-circle c2"></div>
    <div class="home-bg-circle c1"></div>
    <div class="home-bg-circle c0"></div>
  </div>
</div>
