.bubble-button-hamburger,
.bubble-button {
    position: fixed;
    right: 0.5%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ebebeb;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    z-index: 1004;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.bubble-button {
    right: 0.5svh;
    top: 12svh;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2),
        0 0.15rem 1rem 0 rgba(0, 0, 0, 0.19);
}

.bubble-handle,
.bubble-handle-button {
    position: absolute;
    border-radius: 50%;
    z-index: 1003;
}

.bubble-handle {
    width: 1rem;
    height: 1rem;
    background-color: #ebebeb;
    right: 0;
    bottom: 0;
    transform: translate(0, 70%);
    cursor: grab;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2),
        0 0.15rem 1rem 0 rgba(0, 0, 0, 0.19);
}

.bubble-handle-button {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #171717;
    transform: translate(50%, 50%);
}

.bubble-button .hamburger-icon,
.bubble-button .hamburger-icon::before,
.bubble-button .hamburger-icon::after {
    content: "";
    position: absolute;
    height: 0.082rem;
    background-color: #495057;
    transition: all 0.4s;
}

.bubble-button .hamburger-icon {
    width: 50%;
    position: relative;
}

.bubble-button .hamburger-icon::before,
.bubble-button .hamburger-icon::after {
    width: 100%;
}

.bubble-button .hamburger-icon::before {
    top: -0.32rem;
}

.bubble-button .hamburger-icon::after {
    bottom: -0.32rem;
}

.menu-active .hamburger-icon {
    background-color: transparent;
}

.menu-active .hamburger-icon::before {
    top: 0;
    transform: rotate(45deg);
}

.menu-active .hamburger-icon::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.menu-section {
    position: fixed;
    left: 0;
    top: -110%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    z-index: 1002;
    transition: top 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.menu-group {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.menu-section.active {
    top: 0;
}

.right-menu {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 98%;
    width: 50%;
    padding: 1% 5% 1% 5%;
}

.left-menu {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}

.right-menu a {
    font-size: 1.8rem;
    font-weight: 700;
    color: #e6f1f2;
    text-decoration: none;
    transition: background-color 0.3s ease, padding 0.3s ease;
    margin-top: 2%;
    padding: 1%;
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.right-menu a:last-child {
    font-family: "Megrim";
    font-size: 1.9rem;
    font-weight: bolder;
}

.bubbleLinkActive {
    background-color: #c34334;
    color: #000c0c;
}

.nav-dot-group,
.nav-dot-group-dop {
    position: fixed;
    right: 0.5svh;
    top: 50svh;
    transform: translateY(-50%);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.55rem;
    font-weight: bold;
}

.nav-dot-group-dop {
    z-index: 1000;
}

.nav-dot-group a,
.nav-dot-group-dop div {
    text-decoration: none;
    transition: background-color 0.3s ease, padding 0.3s ease;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.nav-dot-group-dop div {
    background-color: #01464a;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2),
        0 0.15rem 1rem 0 rgba(0, 0, 0, 0.19);
}

.nav-dot-group a {
    color: #b3d6d7;
}

.navLinkActive {
    background-color: #c34334;
}

.nav-dot-group a:nth-child(1),
.nav-dot-group-dop div:nth-child(1) {
    margin: 50% 0 25% 0;
}

.nav-dot-group a:nth-child(2),
.nav-dot-group-dop div:nth-child(2) {
    margin: 25% 0 25% 0;
}

.nav-dot-group a:nth-child(3),
.nav-dot-group-dop div:nth-child(3) {
    margin: 25% 0 50% 0;
}