<nav role="navigation">
  <div class="bubble-button">
    <div class="bubble-button-hamburger" aria-label="Toggle Menu">
      <div class="hamburger-icon"></div>
    </div>
    <div class="bubble-handle">
      <div class="bubble-handle-button"></div>
    </div>
  </div>
  <div class="menu-section">
    <div class="menu-group">
      <div class="left-menu"></div>
      <nav class="right-menu">
        <a href="#home" class="bubbleLinkActive">&nbsp;HOME&nbsp;</a>
        <a href="#work" class="">&nbsp;WORK&nbsp;</a>
        <a href="#about" class=""
          >Aech <i class="fa-regular fa-face-smile"></i
        ></a>
      </nav>
    </div>
    <!-- <div class="term-group">
      <div class="term-group-container">
        <div class="term-group-left">
          <div>Terms &nbsp; <span>|</span> &nbsp; Privacy Policy</div>
        </div>
        <div class="term-group-right">
          ©2023, All rights reserved. FindOutMore Atelier(FOM/A) Part., Ltd.
        </div>
      </div>
    </div> -->
  </div>
  <nav class="nav-dot-group">
    <a href="#home" class="navLinkActive">H</a>
    <a href="#work" class="">W</a>
    <a href="#about" class="">A</a>
  </nav>
  <nav class="nav-dot-group-dop">
    <div class="navLinkActive"></div>
    <div class=""></div>
    <div class=""></div>
  </nav>
</nav>
