<div class="about-container">
  <div class="about-content-container" id="weare">
    <div class="about-panel">
      <div class="about-intro">Interactable animated graphic</div>
      <div class="about-aech-group">
        <div class="about-weare-group">
          <div class="about-weare-box">
            <p>
              <span class="about-weare-headline"> We are the team </span
              ><br /><br />
              As a group of tech experts, FOM/A works together to build digital
              services for upcoming startups and small to medium-sized
              businesses, both in Bangkok and online.<br /><br />
              We're great at creating clear, creative, and unique designs for
              web, mobile, and data analytics solutions. For more info, check
              out the link below (PDF).
            </p>
          </div>
          <div class="about-service-box">
            <span>Web</span>
            <span>Mobile</span>
            <span>Analytic</span>
          </div>
        </div>
        <div class="about-title-group">
          <i
            class="detect-me fa-solid fa-arrow-right right-arrow"
            id="AboutToRight"
          ></i>
          <div>
            <div class="about-title-box">
              <div class="about-title-studio">STUDIO</div>
              <div class="about-title-aech">Aech</div>
            </div>
            <div class="about-quote-box">Foundation for startups</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-content-container" id="contact">
    <div class="contact-panel">
      <div class="contact-channel-container">
        <div class="contact-intro">Interactable animated graphic</div>
        <div class="contact-us-group">
          <div class="contact-reachus-group">
            <i
              class="detect-me fa-solid fa-arrow-left left-arrow"
              id="AboutToLeft"
            ></i>
            <div class="contact-reachus">Reach us</div>
          </div>
          <div class="contact-type-box">
            <div class="contact-quote">
              <p>
                For business inquiries, alliances and coffee meet up, Please
                contact us
              </p>
            </div>
            <div class="contact-type-button-group">
              <div
                class="contactTypeButtonActive contact-type-button"
                id="otwdHubButton"
              >
                &nbsp;<span class="s-aech">Aech</span> Hub
              </div>
              <div class="contact-type-button" id="writeUsButton">
                &nbsp;Write to us
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-address-container">
        <div class="form-hub-slide-group">
          <div class="fourtyPercentSpace" id="hubGroup"></div>
          <div class="hub-group">
            <div class="contact-map">
              <div class="we-are-here">We Are Here!</div>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15501.61974168373!2d100.563545!3d13.754437!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29eed5ffa2b5d%3A0xed6b40f5cc829d3f!2sLife%20Asoke%20-%20Rama%209!5e0!3m2!1sen!2sth!4v1694268902619!5m2!1sen!2sth"
                width="600"
                height="450"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                class="map"
                title="studio aech"
                frameborder="0"
              ></iframe>
            </div>
            <div class="contact-email">
              <i class="fa-solid fa-envelope envelope-mail"></i>
              <div class="gap"></div>
              <span class="otwd-email">sn.jittakan@hotmail.com</span>
            </div>
            <div class="contact-link">
              <div class="contact-link-line">
                <div class="contact-link-text">Chat with us:</div>
                <a
                  href="https://line.me/ti/p/ooL0xTl6JX"
                  target="_blank"
                  rel="noreferrer"
                >
                  <span class="social-link">Line&nbsp;|&nbsp;</span>
                  <i class="fa-brands fa-line contact-social-link"></i>
                </a>
              </div>
              <div class="contact-link-line">
                <div class="contact-link-text">Share with us:</div>
                <a
                  href="https://github.com/jittakan-dev?tab=repositories"
                  target="_blank"
                  rel="noreferrer"
                >
                  <span class="social-link">Github&nbsp;|&nbsp;</span>
                  <i class="fa-brands fa-github contact-social-link"></i>
                </a>
              </div>
              <div class="contact-link-line">
                <div class="contact-link-text">Friend with us:</div>
                <a
                  href="https://www.instagram.com/jt.geldmeister/"
                  target="_blank"
                  rel="noreferrer"
                >
                  <span class="social-link">Instagram&nbsp;|&nbsp;</span>
                  <i class="fa-brands fa-instagram contact-social-link"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="fourtyPercentSpace" id="formGroup"></div>
          <form class="form-group">
            <div class="input-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required />
            </div>
            <div class="input-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required />
            </div>
            <div class="input-group">
              <label for="message">Message:</label>
              <textarea id="message" name="message" rows="5"></textarea>
            </div>
            <div class="submit-group">
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
