@media screen and (orientation: landscape) and (max-width: 1368px) {

    .left-arrow,
    .right-arrow,
    .about-intro {
        font-size: var(--std-130rem-font-size);
    }

    .contact-reachus {
        font-size: var(--std-130rem-font-size);
    }

    .contact-social-link {
        font-size: var(--std-075rem-font-size);
    }

    .social-link {
        font-size: var(--std-075rem-font-size);
    }

    .input-group,
    .input-group textarea {
        font-size: var(--std-075rem-font-size);
    }

    .input-group input,
    .submit-group button {
        font-size: var(--std-075rem-font-size);
    }

    .contact-type-button,
    .s-aech {
        font-size: var(--std-057rem-font-size);
    }

    /* smaller screensize */
    @media screen and (max-aspect-ratio: 16.2/9) {
        /*very smaller screen*/
    }

    /* larger screensize */
    @media screen and (min-aspect-ratio: 16.2/9) {
        @media screen and (max-height: 300px) {

            .left-arrow,
            .right-arrow,
            .about-intro {
                font-size: var(--std-130rem-font-size);
            }

            .about-weare-group {
                font-size: var(--std-075rem-font-size);
            }

            .about-weare-headline {
                font-size: var(--std-075rem-font-size);
            }

            .about-title-aech {
                font-size: var(--std-300rem-font-size);
            }

            .about-quote-box {
                font-size: var(--std-075rem-font-size);
            }

            .about-service-box span {
                font-size: var(--std-075rem-font-size);
            }

            .hub-group {
                height: 50%;
            }

            .form-group {
                height: 50%;
            }

            .contact-reachus-group {
                justify-content: center;
                align-items: center;
            }

            .contact-reachus {
                font-size: var(--std-100rem-font-size);
            }

            .reachus-br {
                display: none;
            }

            .contact-quote {
                font-size: var(--std-075rem-font-size);
            }

            .contact-type-button,
            .s-aech {
                font-size: var(--std-060rem-font-size);
            }

            .contact-map {
                height: 40%;
            }

            .contact-social-link {
                font-size: var(--std-100rem-font-size);
            }

            .social-link {
                font-size: var(--std-060rem-font-size);
            }

            .contact-email {
                margin-top: 10%;
                font-size: var(--std-075rem-font-size);
            }

            .input-group,
            .input-group textarea {
                font-size: var(--std-060rem-font-size);
            }

            .input-group input,
            .submit-group button {
                font-size: var(--std-060rem-font-size);
            }
        }
    }
}

@media screen and (orientation: portrait) {
    .about-aech-group {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 6%;
    }

    .about-weare-headline {
        padding-left: 0;
    }

    .about-weare-box {
        width: 100%;
        text-align: left;
        text-justify: inter-character;
        border-right: none;
        border-top: 1px dotted #b7bbbf;
        border-bottom: 1px dotted #b7bbbf;
        padding: 5% 0 5% 0;
        margin: 0 0 5% 0;
    }

    .about-title-group {
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
        justify-content: end;
        margin: 0 0 5% 0;
    }

    .about-title-box {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }

    .about-title-aech {
        text-align: right;
        margin: 0 0 5% 0;
        padding: 0;
    }

    .right-arrow {
        order: 1;
        padding: 1% 2% 1% 2%;
        margin: 5% 5% 0 0;
    }

    .about-quote-box {
        /* padding-left: 2.8%; */
        text-align: left;
        line-height: normal;
    }

    .about-service-box {
        align-items: center;
        justify-content: start;
        margin-top: 2%;
    }

    .about-service-box span {
        padding: 1%;
        margin: 1% 3% 1% 0;
        flex-grow: 1;
        text-align: center;
    }

    .about-service-box span:last-child {
        margin: 1% 0 1% 0;
    }

    .contact-panel {
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    .contact-intro {
        display: none;
    }

    .contact-channel-container {
        width: 100%;
        height: 40%;
        position: absolute;
        z-index: 2;
        top: 0;
        overflow: hidden;
        background-color: #242424;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    .contact-us-group {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    .contact-reachus-group {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        width: 90%;
        /* color: #e9ecef; */
        padding: 5% 5% 0 5%;
        margin: 0%;
    }

    .reachus-br {
        display: none;
    }

    .left-arrow {
        order: 1;
        padding: 1% 2% 1% 2%;
        margin: 0 5% 0 0;
    }

    .right-arrow {
        order: 1;
        padding: 1% 2% 1% 2%;
        margin: 5% 5% 0 0;
    }

    .contact-reachus {
        order: 2;
        text-align: right;
        line-height: 100%;
    }

    .contact-type-box {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        color: #e9ecef;
        padding: 0 5% 0 5%;
    }

    .contact-quote {
        padding: 5%;
        border: none;
    }

    .contact-type-button-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        width: 100%;
        border-bottom: 1px dotted #015256;
    }

    .contact-type-button {
        padding: 3% 10% 3% 10%;
        margin: 2% 0% 0 0;
        background-color: #01464a;
        color: #adb5bd;
        border-radius: 0px;
        border: none;
        width: 50%;
        text-align: center;
    }

    #otwdHubButton {
        margin-right: 0;
    }

    #writeUsButton {
        margin-left: 0;
    }

    .contactTypeButtonActive {
        background-color: #001213;
        color: #adb5bd;
        border-radius: 0px;
        border: none;
    }

    .contact-address-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .fourtyPercentSpace {
        width: 100%;
        height: 40dvh;
        display: block;
        top: 0;
    }

    .hub-group {
        margin: 0;
        padding: 0;
        width: 85%;
        height: 50dvh;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .we-are-here {
        display: none;
        margin-bottom: 0;
    }

    .contact-map {
        width: 100%;
        height: 50%;
        border: 2px solid #171717;
    }

    .contact-email {
        letter-spacing: 2px;
        font-weight: normal;
        width: 100%;
        margin: 10% 0 10% 0;
        justify-content: center;
    }

    .gap {
        display: none;
    }

    .envelope-mail {
        margin-right: 4%;
    }

    .contact-link {
        display: flex;
        flex-direction: row;
        padding: 5% 0 5% 0;
        width: 100%;
        border-top: 1px dotted #343a40;
        border-bottom: 1px dotted #343a40;
    }

    .contact-link div {
        margin-bottom: 0;
        justify-content: center;
    }

    .contact-link-text {
        display: none;
    }

    .contact-social-link {
        padding: 0;
        color: var(--base-font-color);
    }

    .social-link {
        margin: 0;
        display: none;
    }

    .form-group {
        width: 85%;
        height: 50dvh;
    }

    .input-group input {
        margin: 2% 0 2% 0;
        padding: 2%;
    }

    .submit-group {
        width: 100%;
        margin: 4% 0 1% 0;
    }

    .submit-group button {
        width: 100%;
        padding: 4% 0 4% 0;
    }

    /*-------------------------------HUB-------------*/
    /*------------------------------START-FORM-------------*/
    .left-arrow,
    .right-arrow,
    .about-intro {
        font-size: var(--std-1160rem-font-size);
    }

    .about-weare-group {
        font-size: var(--std-075rem-font-size);
    }

    .about-weare-headline {
        font-size: var(--std-075rem-font-size);
    }

    .about-title-aech {
        font-size: var(--std-300rem-font-size);
    }

    .about-quote-box {
        font-size: var(--std-075rem-font-size);
    }

    .about-service-box span {
        font-size: var(--std-075rem-font-size);
    }

    .contact-reachus {
        font-size: var(--std-160rem-font-size);
    }

    .contact-quote,
    .contact-type-button {
        font-size: var(--std-075rem-font-size);
        border: none;
    }

    .s-aech {
        font-size: var(--std-075rem-font-size);
    }

    .contact-type-button:hover {
        background-color: #001213;
        color: #adb5bd;
        border: none;
    }

    .contact-social-link {
        font-size: var(--std-160rem-font-size);
    }

    .contact-email {
        font-size: var(--std-075rem-font-size);
    }

    .input-group,
    .input-group textarea {
        font-size: var(--std-075rem-font-size);
    }

    .input-group input,
    .submit-group button {
        font-size: var(--std-075rem-font-size);
    }

    /* narrower screensize NORMAL*/
    @media screen and (max-aspect-ratio: 9/16.2) {

        /*very narrow screen FOLD*/
        @media screen and (max-width: 300px) {}
    }

    /* widener screensize SE/SE OLD */
    @media screen and (min-aspect-ratio: 9/16.2) {}
}